.loader{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: -50vh -50vw;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}
.loader h1{
    margin: 0%;
    font-family: mastermind;
    font-size: 4rem;
    color: #353728;
}
.loader p{
    font-family: circular;
    color:#95792b;
}
.loader h2{
    font-size: 1.5rem;
    font-family: gotham;
    color: #353728;
    margin-top: 10rem;
}
.loader img{
    width:15vw;
}
.loader .load-percent{
    font-family: gotham;
    margin-top: 15vh;
    color: #353728;
}

@media screen and (max-width:768px) {
    .loader{
        width: 100vw;
    }
    .loader img{
        width:40vw;
    }
    .loader h1{
        font-size: 2.5rem;
    }
}