.navbar{
    position: fixed;
    z-index: 3;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 5rem;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    width: 88vw;
    height: 10vh;
    font-family: gotham;
    align-items: center;
    justify-content: center;
}
ul li{
    padding-right:2vw;
    font-size: 1.1rem;
}
ul h3{
    font-family: lora;
    margin: 0%;
    padding-right: 45vw;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: #464838;
}