.navbar{
    position: fixed;
    z-index: 3;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 5rem;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    width: 88vw;
    height: 10vh;
    font-family: gotham;
    align-items: center;
    justify-content: center;
}
ul li{
    padding-right:2vw;
    font-size: 1.1rem;
}
ul h3{
    font-family: lora;
    margin: 0%;
    padding-right: 45vw;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: #464838;
}

@media screen and (max-width:768px) {
    .window{
        margin-left: 0;
    }
    .navbar{
        height: 20vh;
        width: 90vw;
        margin-left: 10vw;
    }
    .logo{
        height: 25vh;
        width: 100vw;
        justify-content: center;
        text-align: center;
    }

    .navbar ul{
        justify-content: center;
        align-items:center ;
        flex-direction: column;
        padding: 0%;
    }
    ul li{
        font-size: 1rem;
    }
}