@font-face {
  font-family: gotham;
  src: url('/public/fonts/Gotham\ Rounded\ Medium.otf');
}
@font-face {
  font-family: lora;
  src: url('/public/fonts/Lora-VariableFont_wght.ttf');
}
@font-face {
  font-family: circular;
  src: url('/public/fonts/Circular/CircularStd-Medium.otf');
}

.heading img{
  width: 20vw;
  margin: 0%;
  margin-bottom: -10vh;
}
body {
  margin: 0;
}
.window{
  margin: 0 5vw;
  color: #bebebe;
  scroll-behavior: smooth;
}
p{
  font-family: gotham;
  font-size: 1.2rem;
}
h2{
  font-family: lora;
  font-size: 4rem;
  color: #00a97f;
}
.content{
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.content h1{
  font-family: lora;
  font-size: 7rem;
  color: #00a97f;
  margin: 3vh 0;
}
.content p{
  font-size: 1.5rem;
  color: #95792b;
  font-family: circular;
}
.welcome{
  height: 100vh;
  text-align: end;
  display: flex;
  align-items: end;
  padding:0 0 0 40rem;
}
.programs{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20rem 40rem 0 0;
}
.advantages{
  height: 150vh;
  display: flex;
  align-items: center;
  padding: 0 40rem 0 0;
  text-align: center;
}
.advantages h3{
  font-family: gotham;
  font-size: 1.1rem;
  color: #0a9396;
}
.advantages img{
  width: 5vw;
  padding: 0.5rem;
}
.advantages p{
  font-size: 0.95rem;
}
.advantages-container{
  display:flex;
}
.advantage{
  width: 22vw;
  height: 35vh;
  text-align: center;
  padding: 1rem;
}
.join{
  height: 100vh;
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 0 0 30vw;
}
form{
  font-family: circular;
}
input{
  background-color: #bebebe;
  border: 1px solid black;
  color: #005b4c;
  margin: 1.5rem 1rem;
  height: 2rem;
  width: 30rem;
  font-family: circular;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.submit{
  background-color: #00a97f;
  width: 25rem;
}
.button{
  width: 31rem;
  margin-left: 25vw;
  justify-content: end;
  display: flex;
}

@media screen and (max-width:768px) {
  .window{
    margin-left: 0;
    width: 100vw;
  }
  .heading img{
    width:50vw;
    margin-bottom:-5vh;
  }
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
    width: 20rem;
  }
  .content{
    justify-content: center;
    text-align: center;
    width:100vw;
  }
  .welcome{
    width: 90vw;
    text-align: center;
    justify-content: center;
    padding: 0 5vw;
  }
  .welcome p{
    width: 90vw;
  }
  .programs{
    width: 100vw;
    justify-content: center;
    text-align: center;
  }
  .content h1{
    font-size: 3rem;
    text-align: center;
  }
  .advantages{
    justify-content: center;
    text-align: center;
    padding: 0%;
    width: 100vw;
  }
  .advantage img{
    width: 15vw;
  }
  .advantage{
    width: 40vw;
  }
  .advantage p{
    width: 40vw;
  }
  .join{
    width: 90vw;
    padding: 0 5vw;
    margin: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .join p{
    width: 90vw;
    padding: 0 5vw;
  }
  input{
    margin: 0.5rem 0;
    width: 60vw;
  }
  .button{
    width: 100vw;
    justify-content: center;
    margin: 0%;
  }
  .submit{
    width: 60vw;
  }
}