@font-face {
  font-family: gotham;
  src: url('/public/fonts/Gotham\ Rounded\ Medium.otf');
}
@font-face {
  font-family: lora;
  src: url('/public/fonts/Lora-VariableFont_wght.ttf');
}
@font-face {
  font-family: circular;
  src: url('/public/fonts/Circular/CircularStd-Medium.otf');
}

body {
  margin: 0;
}
.window{
  margin: 0 5vw;
  color: #94d2bd;
  scroll-behavior: smooth;
}
p{
  font-family: gotham;
  font-size: 1.2rem;
}
h2{
  font-family: lora;
  font-size: 4rem;
  color: #e9d8a6;
}
.content{
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.content h1{
  font-family: lora;
  font-size: 7.5rem;
  color: #dfd2bb;
  margin: 3vh 0;
}
.content p{
  font-size: 1.5rem;
  color: #ee9b00;
  font-family: circular;
}
.welcome{
  height: 100vh;
  text-align: end;
  display: flex;
  align-items: end;
  padding:0 0 0 40rem;
}
.programs{
  height: 100vh;
  display: flex;
  align-items: end;
  padding: 0 40rem 10rem 0;
}
.advantages{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 40rem 0 0;
  text-align: center;
}
.advantages h3{
  font-family: gotham;
  font-size: 1.2rem;
  color: #0a9396;
}
.advantages p{
  font-size: 1rem;
}
.advantages-container{
  display:flex;
}
.advantage{
  width: 20vw;
  height: 25vh;
  text-align: center;
  padding: 1rem;
}
.join{
  height: 100vh;
}